@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Kalnia:wght@300;400;500;600;700&display=swap');
/*Laptop*/
body{
    margin: 0 auto;
    overflow-x: hidden;
}

#section1{
    background-image: url(./images/671643426f6e8e8e4c92f0cc720fff1d.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#navBar{
    border-bottom: 1px solid #d61e1e;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.section1Button{
    color: #d61e1e;
    font-size: 1.3rem;
    font-family: 'Calistoga', serif;
    background-color: transparent;
    border: none;
}

.contactButton > a{
    color: #d61e1e;
    text-decoration: none;
}

.workAvailability{
    position: absolute;
    top: 35%;
    left: 10%;
    list-style: circle;
    font-size: 1.3rem;
    color: #d61e1e
}

.frontendText, .developerText, .designerText{
    margin: 2% 0 0 0;
    font-family: 'Kalnia', serif;
    font-weight: lighter;
    font-size: 5rem;
    color: #d61e1e;
    position: absolute;
}

.frontendText{
    left: 45%;
}

.developerText{
    margin: 0;
    font-weight: 600;
    left: 55%;
    top: 30%;
}

.arrow{
    width: 10%;
    transform: rotate(123deg);
    position: absolute;
    border: 2px solid #d61e1e;
    padding: 0;
    margin: 0;
    top: 53%;
    left: 45%;
}

.designerText{
    position: absolute;
    bottom: 20%;
    left: 25%;
}

/* Smaller screen */
@media screen and (max-width: 1000px){
    .section1Button{
        font-size: 0.7rem;
    }

    .workAvailability{
        top:30%;
        left: 3%;
        font-size: 0.5rem;
    }

    .frontendText, .developerText, .designerText{
        font-size: 1.8rem;
    }

    .frontendText{
        left: 40%;
        top: 20%;
    }

    .developerText{
        left: 45%;
        top: 25%;
    }

    .arrow{
        top: 36%;
    }

    .designerText{
        bottom: 50%;
        width: 30%;
    }
}